.forms-edit.font-override
  = form_for @team do |f|
    - if @team.errors.any?
      #error_explanation
        %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
        %ul
          - @team.errors.full_messages.each do |msg|
            %li= msg
    .row
      .col-md-12
        .form-group
          = f.label :name
          = f.text_field :name, class: "form-control"
      .col-md-12
        .form-group
          = f.label :hometown
          = f.text_field :hometown, class: "form-control"
      .col-md-12
        .form-group
          = f.label :philosophy
          = f.text_field :philosophy, class: "form-control"
      .col-md-12
        .form-group
          = f.label :primary_kit_colour
          = f.text_field :primary_kit_colour, class: "form-control"
      .col-md-12
        .form-group
          = f.label :secondary_kit_colour
          = f.text_field :secondary_kit_colour, class: "form-control"
      .col-md-12
        .form-group
          = f.label :seeking_players
          = f.check_box :seeking_players, class: "form-control"
      .col-md-12
        .actions.text-center
          = link_to 'Cancel', teams_path, class: "btn btn-danger"
          = f.submit 'Save', class: "btn btn-success"