.forms-edit.font-override
  = form_for @team do |f|
    - if @team.errors.any?
      #error_explanation
        %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
        %ul
          - @team.errors.full_messages.each do |msg|
            %li= msg
    .row
      .col-md-12
        .form-group
          = f.label :name
          = f.text_field :name, class: "form-control"
      .col-md-12
        .form-group
          = f.label :hometown
          = f.text_field :hometown, class: "form-control"
      .col-md-12
        .form-group
          = f.label :philosophy
          = f.text_field :philosophy, class: "form-control"
      .col-md-6
        .form-group
          = f.label :primary_kit_colour
          = f.text_field :primary_kit_colour, class: "form-control"
      .col-md-6
        .form-group
          = f.label :secondary_kit_colour
          = f.text_field :secondary_kit_colour, class: "form-control"
      .col-md-6
        .form-group
          = f.label :choose_league
          = f.collection_select :league_id, League.all, :id, :name, class: "form-control"
      .col-md-6
        .form-group
          = f.label :image, "Choose team photo. Wide photos are ideal e.g. 1200x400"
          %br/
          %img#img_prev.hide{:alt => "your image", :src => "#"}/
          %div{:style=>"position:relative;margin-top:5px;"}
            %a.btn.btn-xs.btn-black.nohoverblack{:href=>'javascript:;'}>
              Choose File...
              = f.file_field :image, {:style=>"position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';opacity:0;background-color:transparent;color:transparent;", :id => "upload", :onchange => "readURL(this)"}
      .col-md-12
        .actions.text-center
          - if !@team.id.nil?
            = link_to 'Cancel', team_path(@team), class: "btn btn-black nohoverblack"
          = f.submit 'Save', class: "btn btn-black nohoverblack"
          - if user_is_admin?
            %td= link_to 'Delete', @team, class: "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }

:javascript
  function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#img_prev')
            .attr('src', e.target.result)
            .width(200)
            .height(200);
        };

        reader.readAsDataURL(input.files[0]);
      }
      $('#img_prev').removeClass('hide');
    }