.table-responsive.font-override
  %table.table
    %thead
      %tr
        %th.text-center Name
        %th.text-center Played
        %th.text-center Wins
        %th.text-center Losses
        %th.text-center Draws
        %th.text-center Points
        - if user_is_admin? || user_is_captain? && current_player.team == team
          %th.text-center Actions
          %th

    %tbody
      - league_teams.order(points: :desc).each do |team|
        %tr
          %td= link_to team.name, team, :class => "link-override"
          %td= team.played
          %td= team.wins
          %td= team.losses
          %td= team.draws
          %td= team.points
          - if user_is_admin? || user_is_captain? && current_player.team == team
            %td
              = button_to 'Edit', edit_team_path(team), :method => :get, :class => "btn btn-xs btn-white nohoverwhite"
            %td
              = button_to 'Delete', team, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-xs btn-white nohoverwhite"

  %br

  - if user_is_admin? || !current_player.nil? && current_player.team.nil?
    %h4.text-center
      = link_to 'New Team', new_team_path, class: "link-override"
