/ / = team_color(@team)
/ -# Compile the stylesheet if necessary
/ - team_stylesheet = TeamStylesheet.new(@team)
/ - team_stylesheet.compile unless team_stylesheet.compiled?

/ -# At this point you can access your compiled stylesheet.
/ -# You can either render it directly on the page or reference it via stylesheet_link_tag
/ -# The latter can only be done if you're serving assets directly via your app.
/ -# If you use the AssetSync gem or similar to upload your assets to S3, you should render it inline because it hasn't been uploaded.

/ -# Render on page:
/ -# Again, use Sprockets::Environment instead of Sprockets::Index to find the dynamically created asset.
/ - env = Rails.application.assets.is_a?(Sprockets::Index) ? Rails.application.assets.instance_variable_get('@environment') : Rails.application.assets

/ -# Reference:
/ = stylesheet_link_tag team_stylesheet.stylesheet_file
/ %hr/
/ .container
/   .row
/     .col-sm-9
/       %h1.object-name
/         = @team.name
/         - if @team.players != [] && @team.average_rating(@team) != 0
/           -(1..@team.average_rating(@team)).each do |i|
/             = image_tag("star-on.png")
/           -#%b= "#{number_with_precision(@team.average_rating(@team), precision: 2)}"


/     .col-sm-2
/       %a.pull-right{:href => "/teams"}
/         %img.img-circle.img-responsive{:src => "http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100", :title => "profile image"}/
/   .row
/     .col-sm-3
/       / left col
/       %ul.list-group.font-override
/         %li.list-group-item.text-muted.color_override Profile
/         %span.pull-right.flag-icon.flag-icon-gr
/         %li.list-group-item.text-right.color_override_alt
/           %span.pull-left
/             %strong Hometown:
/           =@team.hometown || 'London'
/         %li.list-group-item.text-right.color_override_alt
/           %span.pull-left
/             %strong Seeking Players:
/           = @team.seeking_players || 'Maybe'
/       %ul.list-group.font-override
/         %li.list-group-item.text-muted.color_override
/           Actions
/           %i.fa.fa-dashboard.fa-1x
/         %li.list-group-item.text-right.color_override_alt
/           %span.pull-left
/             %strong Fancy a match
/           = link_to(new_match_path){"<i class='fa fa-arrow-right'></i>"}
/         - if user_is_admin?
/           %li.list-group-item.text-right.color_override_alt
/             %span.pull-left
/               %strong Edit Team
/             = link_to(edit_team_path(@team)){"<i class='fa fa-arrow-right'></i>"}
/           %li.list-group-item.text-right.color_override_alt
/             %span.pull-left
/               %strong Back
/             = link_to(teams_path){"<i class='fa fa-arrow-right'></i>"}

/     / /col-3
/     .col-sm-9
/       %ul#myTab.nav.nav-tabs
/         %li.active
/           %a{"data-toggle" => "tab", :href => "#stats"} Stats
/         %li
/           %a{"data-toggle" => "tab", :href => "#matches"} Matches
/         %li
/           %a{"data-toggle" => "tab", :href => "#team"} Players
/       .tab-content
/         #stats.tab-pane.text-center.active
/           .row
/             .col-sm-6.stats-box.alt
/               %h1 Wins
/               %h2= @team.wins
/             .col-sm-6.stats-box
/               %h1 Draws
/               %h2= @team.draws
/           .row
/             .col-sm-6.stats-box
/               %h1 Losses
/               %h2= @team.losses
/             .col-sm-6.stats-box.alt
/               %h1 Points
/               %h2= @team.points
/         / /tab-pane
/         #matches.tab-pane
/           - if @team_matches != []
/             = render 'teams/team_matches'
/           - else
/             %p No matches scheduled

/           %hr/
/           .row
/             .col-md-4.col-md-offset-4.text-center
/               %ul#myPager.pagination
/           / /table-resp
/           %hr/
/         / /tab-pane
/         #team.tab-pane
/           %hr/
/           %h1
/             -@team.players.map do |player|
/               %li= player.name
/       / /tab-pane
/     / /tab-content
/   / /col-9
/ / /row


.team-container.font-override
  .row.team-header.no-margin
    .col-xs-6.pull-right
      %h1.pull-right 
        = @team.name

  .row.ratings-row.text-center.no-margin
    - if @team.players != [] && @team.ratings.sum(:stars) > 0 && @team.average_rating(@team) != 0
      -(1..@team.average_rating(@team)).each do |i|
        = image_tag("star-on.png")
      -#%b= "#{number_with_precision(@team.average_rating(@team), precision: 2)}"
    - else
      %p Team not rated yet
  .row
    .col-sm-6.team-left{:style=>"color:black;"}
      %h1 About
    .col-sm-6.team-right
      .row.no-margin
        .col-sm-12.team-stats.no-padding
          .row.profile-tabs.text-center.no-margin
            .col-xs-4.profile-tab{"data-toggle" => "tab", :href => "#stats"}
              %p Stats
            .col-xs-4.profile-tab{"data-toggle" => "tab", :href => "#matches"}
              %p Matches
            .col-xs-4.profile-tab{"data-toggle" => "tab", :href => "#players"}
              %p Players

          .row.no-margin
            .tab-content
              #stats.tab-pane.text-center.active
                .row.no-margin.stats-info-background{:style =>"height:100%"}
                  .col-xs-4.stats-info.no-padding
                    .col-xs-12.stats-info-title.no-padding
                      %h4 Wins
                    .col-xs-12
                      %h1{:style => "padding-top:10%;"}= @team.wins
                  .col-xs-4.stats-info.no-padding
                    .col-xs-12.stats-info-title.no-padding
                      %h4 Losses
                    .col-xs-12
                      %h1{:style => "padding-top:10%;"}= @team.losses
                  .col-xs-4.stats-info.no-padding
                    .col-xs-12.stats-info-title.no-padding
                      %h4 Draws
                    .col-xs-12
                      %h1{:style => "padding-top:10%;"}= @team.draws
                / .row.no-margin
                /   .col-xs-4.stats-info
                /     %h4 Wins
                /     %h1= @team.wins
                /   .col-xs-4.stats-info
                /     %h4 Losses
                /     %h1= @team.losses
                /   .col-xs-4.stats-info
                /     %h4 Draws
                /     %h1= @team.draws

              / /tab-pane
              #matches.tab-pane
                .col-xs-12
                  = render 'matches/index'
                  %hr/
                  .row
                    .col-md-4.col-md-offset-4.text-center
                      %ul#myPager.pagination
                  / /table-resp
                  %hr/
                / /tab-pane
              #players.tab-pane
                %hr/
                - if @team.players.nil?
                  %h1 No Players
                - else
                  - @team.players.each do |player|
                    %li
                      =player.name

            / /tab-pane
          / /tab-content
/ =======
/ %p#notice= notice

/ = image_tag @team.image.wide.url
/ %p
/   %b Name:
/   = @team.name
/   - if @team.players != [] && @team.ratings.sum(:stars) > 0 && @team.average_rating(@team) != 0
/     -(1..@team.average_rating(@team)).each do |i|
/       = image_tag("star-on.png")
/     -#%b= "#{number_with_precision(@team.average_rating(@team), precision: 2)}"
/   - else
/     %p Team not rated yet
/   %br
/   %b Players:
/   %ul
/     -@team.players.map do |player|
/       %li= player.name


/ %p
/   %b Hometown:
/   = @team.hometown
/ %p
/   %b Played:
/   = @team.played
/ %p
/   %b Wins:
/   = @team.wins
/ %p
/   %b Losses:
/   = @team.losses
/ %p
/   %b Draws:
/   = @team.draws

/ %p
/   %b Seeking players:
/   = @team.seeking_players

/ - if @team.matches != []
/   %b Matches:
/   %ul
/     - @team.matches.map do |match|
/       %li= match.team_a.name
/       vs
/       = match.team_b.name
/ - else
/   %p No matches scheduled


/ %br

/ - if user_is_admin? || user_is_captain?
/   = link_to 'Edit', edit_team_path(@team)
/   \|
/ = link_to 'Back', teams_path
/ >>>>>>> develop
