.team-container.font-override
  .row.no-margin{:style =>"height: 45%;background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(#{@team.image.wide.url}) no-repeat center center fixed;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;-o-background-size: 100% 100%;background-size: 100% 100%;"}
    .col-xs-6.pull-left
      %p.pull-left
        = @team.comments

    .col-xs-6.pull-right
      %h1.pull-right 
        = @team.name

  .row.ratings-row.text-center.no-margin{:style => "color:white;"}
    - if @team.players != [] && @team.ratings.sum(:stars) > 0 && @team.average_rating(@team) != 0
      -(1..@team.average_rating(@team)).each do |i|
        = image_tag('gold-star.png', class: 'small-star')
    - else
      %h1
        Not Rated Yet
  .row
    .col-sm-4.team-left{:style=>"color:black;"}
      %h1.text-center{:style=>"text-decoration:underline;"}
        Team Details
      .row
        %h5.text-center 
          %b Kit
        .col-xs-12{:style => "padding-right:15%;"}
          %p.col-xs-offset-6.full-team-circle{:style => "background:linear-gradient(to left, #{@team.secondary_kit_colour} 50%, #{@team.primary_kit_colour} 50%);"}
      .row.text-center
        .col-xs-6
          %h5
            %b Hometown:
        .col-xs-6
          %h5
            = @team.hometown.nil? || @team.hometown.blank? ? 'N/A' : @team.hometown
      .row.text-center
        .col-xs-6
          %h5
            %b Philosophy:
        .col-xs-6
          %h5
            = @team.philosophy.nil? || @team.philosophy.blank? ? 'N/A' : @team.philosophy
      .row.text-center
        .col-xs-6
          %h5
            %b League Position:
        .col-xs-6
          %h5
            = @team.league.nil? ? 'N/A' : @team.league_position(@team)
      - if user_is_admin? || user_is_captain? && current_player.team == @team
        .row
          .col-xs-12
            %h3.text-center
              %b
                = link_to 'Edit Team', edit_team_path(@team), :class=>"link-override-alt"
    .col-sm-8.team-right
      .row.no-margin
        .col-sm-12.team-stats.no-padding
          .row.profile-tabs.text-center.no-margin
            .col-xs-4.profile-tab{"data-toggle" => "tab", :href => "#stats"}
              %p Stats
            .col-xs-4.profile-tab{"data-toggle" => "tab", :href => "#matches"}
              %p Matches
            .col-xs-4.profile-tab{"data-toggle" => "tab", :href => "#players"}
              %p Players

          .row.no-margin{:style =>"height:100%;overflow:auto;"}
            .tab-content{:style =>"height:100%;"}
              #stats.tab-pane.text-center.active{:style =>"height:100%;"}
                .row.no-margin.stats-info-background{:style =>"height:100%"}
                  .col-xs-4.stats-info.no-padding{:style => "height: 40vh;"}
                    .col-xs-12.stats-info-title.no-padding
                      %h4 Wins
                    .col-xs-12
                      %h1{:style => "padding-top:10%;"}= @team.wins
                  .col-xs-4.stats-info.no-padding
                    .col-xs-12.stats-info-title.no-padding
                      %h4 Losses
                    .col-xs-12
                      %h1{:style => "padding-top:10%;"}= @team.losses
                  .col-xs-4.stats-info.no-padding
                    .col-xs-12.stats-info-title.no-padding
                      %h4 Draws
                    .col-xs-12
                      %h1{:style => "padding-top:10%;"}= @team.draws

              / /tab-pane
              #matches.tab-pane
                .col-xs-12
                  = render 'matches/index', {team_visited: @team, player_visited: nil} # player_visited is nil otherwise the element would not exists on the team's page
                  %hr/
                  .row
                    .col-md-4.col-md-offset-4.text-center
                      %ul#myPager.pagination
                  / /table-resp
                / /tab-pane
              #players.tab-pane
                %hr/
                - if @team.players.nil?
                  %h1 No Players
                - else
                  - @team.players.each do |player|
                    %li{:style=>"text-decoration:none;list-style-type:none;"}
                      %h4.text-center
                        =link_to player.name, player_path(player), {:class => 'link-override-alt'}
                        -if player.captain?
                          %i.fa.fa-copyright

            / /tab-pane
          / /tab-content

