%p#notice= notice

%p
  %b Name:
  = @team.name
  - if @team.players != [] && @team.average_rating(@team) != 0
    -(1..@team.average_rating(@team)).each do |i|
      = image_tag("star-on.png")
  - else
    %p Team not rated yet

  %b Players:
  %ul
    -@team.players.map do |player|
      %li= player.name


%p
  %b Hometown:
  = @team.hometown
%p
  %b Wins:
  = @team.wins
%p
  %b Losses:
  = @team.losses
%p
  %b Draws:
  = @team.draws

%p
  %b Seeking players:
  = @team.seeking_players

- if @team.matches != []
  %b Matches:
  %ul
    - @team.matches.map do |match|
      %li= match.team_a.name
      vs
      = match.team_b.name
- else
  %p No matches scheduled


%br

- if user_is_admin?
  = link_to 'Edit', edit_team_path(@team)
  \|
= link_to 'Back', teams_path
