#ratings_form
  - form_id = "#{model}#{object.id}_rating"
  = form_for object.ratings.build, html: {id: form_id, class: 'star_rating_form'} do |f|
    .ratings-comment
      = f.text_area :comment, placeholder: "What did you think of #{object.name}? Comment and then rate below", class: "form-control", maxlength: 140
    - sym_model = "#{model}_id".to_sym
    = f.hidden_field sym_model
    = f.hidden_field :stars, id: "#{form_id}_stars"
    -(1..5).each do |i|
      = image_tag("star-off.png", class: "star_rating", "data-form-id" => form_id, "data-stars" => i, id: "#{form_id}_#{i}", alt:"star_rating", style:'margin-top: 2%;',"aria-label" => "Close", "data-dismiss" => "modal")