.fixtures-and-results-container.font-override{:style =>"padding-top: 1%;"}
  %h1.text-center{:style =>"color:white;margin-bottom:20px;margin-top:0px;"}
    Fixtures & Results
  .fixtures-and-results-body
    - if @matches.count >= 1
      - @matches.each do |date, matches|
        .fixtures-and-results-title
          %h3 #{date.to_s(:long)}
        .table-responsive
          %table.table
            %tbody#items
              - matches.each do |match|
                - match_form_id = "match_form_#{match.id}"
                = form_for match, html: {id: match_form_id, data_match_id: match.id} do |f|
                  - if match.errors.any?
                    #error_explanation
                      %h2= "#{pluralize(match.errors.count, "error")} prohibited this match from being saved:"
                      %ul
                        - match.errors.full_messages.each do |msg|
                          %li= msg
                  %tr
                    %td.status
                      = match.display_status(match.status)
                    %td.team_name.team-right
                      = link_to match.team_a.name, team_path(match.team_a), class: "link-override-alt"
                    %td.score.score-right{class: "scores_#{match.id}", id: "team_a_score_#{match.id}"}
                      - if match.status
                        = match.team_a_score
                    %td.input-score{class: "input_scores_#{match.id}"}
                      = f.number_field :team_a_score, {:class => "form-control"}
                    %td#vs vs
                    %td.score{class: "scores_#{match.id}", id: "team_b_score_#{match.id}"}
                      - if match.status
                        = match.team_b_score
                    %td.input-score{class: "input_scores_#{match.id}"}
                      = f.number_field :team_b_score, {:class => "form-control"}
                    %td.team_name
                      = link_to match.team_b.name, team_path(match.team_b), class: "link-override-alt"
                    - if user_is_admin?
                      %td.inline-score-button
                        - if match.status
                          .input-scores-button{data_match_form_id: match_form_id, data_scores_match_id: "scores_#{match.id}"}
                            Input Scores
                          .actions.scores-submit-button{data_match_form_id: match_form_id, id: "scores-submit-button-#{match.id}",}
                            %span.glyphicon.glyphicon-ok
                    %td.ground-name
                      - if match.ground.present?
                        = link_to "https://maps.google.com?saddr=Current+Location&daddr=#{match.ground.address_to_link_address}", {class: 'link-override-alt', title: 'Get directions to the ground'} do
                          = match.ground.name
                          %span.glyphicon.glyphicon-map-marker
                    %td.ground-name
                      = link_to 'Match report', match, class: "link-override-alt"
    - else
      %h2 No fixtures exists
