%h1 Listing leagues

%table
  %thead
    %tr
      %th Name
      %th Location
      %th
      %th
      %th

  %tbody
    - @leagues.each do |league|
      %tr
        %td= league.name
        %td= league.location
        %td= link_to 'Show', league
        %td= link_to 'Edit', edit_league_path(league)
        %td= link_to 'Destroy', league, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if user_is_admin?
  = link_to 'New League', new_league_path
