= form_for @speciality do |f|
  - if @speciality.errors.any?
    #error_explanation
      %h2= "#{pluralize(@speciality.errors.count, "error")} prohibited this speciality from being saved:"
      %ul
        - @speciality.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
