%h1.profile-name
  = @player.name
  - if @player.ratings != []
    -(1..@player.average_rating).each do |i|
      = image_tag("star-on.png")


= link_to "Fancy a match?", new_match_path

-#= render 'matches/index'

%p
  %b Age:
  = @player.dob
%p
  %b Position:
  = @player.position
%p
  %b Hometown:
  = @player.hometown
%p
  %b Weight:
  = @player.weight
%p
  %b Height:
  = @player.height

- match = Match.where({team_a_id: [@player.team.id, current_player.team.id], team_b_id: [@player.team.id, current_player.team.id], status: true})
- if @player.id != current_player.id && match != [] && @player.played_and_rated__before(@player, current_player, match) == true
  %p
    %b Rate player
    #player_ratings
      - form_id = "player#{@player.id}_rating"
      = form_for @player.ratings.build, html: {id: "player#{@player.id}_rating", class: 'star_rating_form'} do |f|
        = f.hidden_field :player_id
        = f.hidden_field :stars, id: "#{form_id}_stars"
      -(1..5).each do |i|
        = image_tag("star-off.png", class: "star_rating", "data-form-id" => form_id, "data-stars" => i, id: "#{form_id}_#{i}", alt:"star_rating")