%h1.object-name
  =@player.name
  - if @player.ratings != []
    -(1..@player.average_rating).each do |i|
      = image_tag("star-on.png")


%h2
  - if @player.team.nil?
    Free Agent
  - else
    = @player.team.name
= link_to "Fancy a match?", new_match_path |
= link_to "Create a Team?", new_team_path

= render 'matches/index'

%p
  %b Age:
  = @player.dob
%p
  %b Appearances:
  = @player.appearances(@player.id)
%p
  %b Goals:
  = @player.goals(@player.id)

%p
  %b Man of the Match:
  = @player.motms(@player.id)
%p
  %b Position:
  = @player.position
%p
  %b Hometown:
  = @player.hometown
%p
  %b Foot:
  = @player.foot
%p
  %b Specialities:
  = @player.specialities

- match = Match.where({team_a_id: [@player.team.id, current_player.team.id], team_b_id: [@player.team.id, current_player.team.id], status: true})
- if @player.id != current_player.id && match != [] && @player.played_and_rated__before(@player, current_player, match) == true
  %p
    %b Rate player
    = render 'rendered_pages/ratings_form', {object: @player, model: 'player'}

