.forms-edit.font-override
  = form_for @match do |f|
    - if @match.errors.any?
      #error_explanation
        %h2= "#{pluralize(@match.errors.count, "error")} prohibited this match from being saved:"
        %ul
          - @match.errors.full_messages.each do |msg|
            %li= msg
    .row
      - if user_is_admin?
        .col-md-7
          .form-group
            = f.label :date
            .form-inline
              = datetime_select :match, :date, { start_year: 100.years.ago.year, end_year: Date.today.year, default: @match.date.nil? ? Date.today : @match.date}, class: "form-control"
        .col-lg-5
          .form-group
            = f.label :league
            = f.collection_select :league_id, League.all, :id, :name, {:prompt => 'Choose League'}, {:class => "form-control league-field-form"}
        .col-xs-4.team-field-form
          .form-group
            = f.label :home_team
            = f.grouped_collection_select :team_a_id, League.all, :teams, :name, :id, :name, {:prompt => 'Choose Home Team'}, {:class => "form-control pick-team-field match_team_id"}
        - if @match.status
          .col-xs-2.team-field-form
            = f.label :score
            = f.number_field :team_a_score, {:class => "form-control"}
        .col-xs-4.team-field-form
          .form-group
            = f.label :away_team
            = f.grouped_collection_select :team_b_id, League.all, :teams, :name, :id, :name, {:prompt => 'Choose Away Team'}, {:class => "form-control pick-team-field match_team_id"}
        - if @match.status
          .col-xs-2.team-field-form
            = f.label :score
            = f.number_field :team_b_score, {:class => "form-control"}
        = f.fields_for :ground do |g|
          .col-xs-6
            .form-group
            = g.label :ground
            = g.text_field :name, class: "form-control"
          .col-xs-6
            .form-group
              = g.label :address
              = g.text_area :address, class: "form-control"

      -# Form to edit stats - only appears on the edit page
      - if @match.status
        %h4.match-form-team-name
          = current_player.team.name
        = f.fields_for :stats do |s|
          - if s.object.player.team == current_player.team
            .col-md-2
              = player_avatar s.object.player
            .col-md-4
              %h3= s.object.player.name
            .col-md-3
              .form-group
                = s.label :goals
                = s.select :goals, 0..10, {}, {:class => "form-control"}
            .col-md-3
              .form-group
                = s.label :man_of_the_match
                = s.select :man_of_the_match, [["Yes", true], ["No", false]], {}, {:class => "form-control"}
              %br

      .col-md-12
        .actions.text-center
          = f.submit 'Save', class:"btn btn-black nohoverblack"
          = link_to 'Cancel', @match, class:"btn btn-black nohoverblack"
          - if user_is_admin?
            %td= link_to 'Delete', @match, class: "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }