%h1 Listing matches

%table
  %thead
    %tr
      %th Date
      %th Status
      %th Team a score
      %th Team b score
      %th Team a
      %th Team b
      %th Ground
      %th
      %th
      %th

  %tbody
    - @matches.each do |match|
      -if current_player.team == match.team_a || current_player.team == match.team_b
        %tr
          %td= match.date
          %td= @match.display_status(match.status)
          %td= match.team_a_score
          %td= match.team_b_score
          %td= link_to match.team_a.name, team_path
          %td= link_to match.team_b.name, team_path
          - if match.team_a != current_player.team && match.status == nil
            %td
              = form_for match do |f|
                = f.select :status, [['Accept','true'],['Reject','false']]
                = f.submit "Match"
          %td
            - if match.ground.present?
              = match.ground.name
          %td= link_to 'Show', match
          %td= link_to 'Edit', edit_match_path(match)
          %td= link_to 'Destroy', match, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Match', new_match_path


