.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Date
        %th Status
        %th
        %th
        %th
        %th
        %th
        %th Ground
        %th
        - if user_is_admin?
          %th
          %th

    %tbody#items
      - @matches.each do |match|
        -if Match.show_matches?(player_visited, team_visited, match)
          %tr
            %td= match.date.to_s(:short)
            %td= match.display_status(match.status)
            %td= link_to match.team_a.name, team_path(match.team_a)
            - if match.status
              %td= match.team_a_score
            %td vs
            - if match.status
              %td= match.team_b_score
            -#%td= link_to match.team_b.name, team_path(match.team_b)
            -#- if match.team_a != current_player.team && match.status == nil
            -#  %td
            -#    = form_for match do |f|
            -#      = f.select :status, [['Accept','true'],['Reject','false']]
            -#      = f.submit "Match"
            %td
              - if match.ground.present?
                = match.ground.name
            %td= link_to 'See Match', match, :class => "btn btn-xs btn-black nohoverblack"
            - if user_is_admin?
              %td= link_to 'Edit', edit_match_path(match), :class => "btn btn-xs btn-warning btn-black nohoverblack"
              %td= link_to 'Destroy', match, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-xs btn-danger btn-black nohoverblack"

%br
- if user_is_admin?
  = link_to 'New Match', new_match_path
