%p
  %b Date:
  = @match.date.to_s(:long)
%p
  %b Status:
  = @match.display_status(@match.status)

%p
  %b Home:
  = @match.team_a.name
  - if @match.status
    = @match.team_a_score
  vs
  %b Away:
  = @match.team_b.name
  - if @match.status
    = @match.team_b_score



%h3 HOME
- if current_player.team != @match.team_a && current_player.team == @match.team_b && @match.status && @match.played_and_rated_before(current_player, @match.team_a, @match)
  %h2 Rate team
  %b.object-name= "#{@match.team_a.name}"
  #ratings_form
    = render 'rendered_pages/ratings_form', {object: @match.team_a, model: 'team'}

%table
  %thead
    %tr
      %th Players
      %th Goals this Season
      %th Rating
      - if @match.status
        %th Goals
        %th Man of the Match

%tbody
  - @match.team_a.players.each do |player|
    %tr
      %td= player.name
      %td= player.goals(player.id)
      %td= player.average_rating
      - if @match.status
        %td= player.goals_in_match(player.id, @match.id)
        %td= player.motm_in_match(player.id, @match.id)
      %br

%h3 AWAY
- if current_player.team != @match.team_b && current_player.team == @match.team_a && @match.status == true && @match.played_and_rated_before(current_player, @match.team_b, @match)
  %h2 Rate team
  %b.object-name= "#{@match.team_b.name}"
  #ratings_form
    = render 'rendered_pages/ratings_form', {object: @match.team_b, model: 'team'}

%table
  %thead
    %tr
      %th Players
      %th Goals this Season
      %th Rating
      - if @match.status
        %th Goals
        %th Man of the Match

%tbody
  - @match.team_b.players.each do |player|
    %tr
      %td= player.name
      %td= player.goals(player.id)
      %td= player.average_rating
      - if @match.status
        %td= player.goals_in_match(player.id, @match.id)
        %td= player.motm_in_match(player.id, @match.id)
      %br

%br
%p
  %b Ground:
  = @match.ground.name
  %b Address
  = @match.ground.address

- if user_is_admin?
  = link_to 'Edit', edit_match_path(@match)

