%p#notice= notice

%p
  %b Date:
  = @match.date
%p
  %b Status:
  = @match.status
%p
  %b Team a score:
  = @match.team_a_score
%p
  %b Team b score:
  = @match.team_b_score
%p
  %b Team a:
  = @match.team_a_id
%p
  %b Team b:
  = @match.team_b_id

= link_to 'Edit', edit_match_path(@match)
\|
= link_to 'Back', matches_path
