.about-container
  - if current_player
    %a{:href => "/players/#{current_player.id}"}
      .col-xs-4.text-center.create-profile-box
    %a{:href => "/leagues/1"}
      .col-xs-4.text-center.logo-box-logged-in
    -if current_player.team
      %a{:href => "/teams/#{current_player.team.id}"}
        .col-xs-4.text-center.my-team-box
    -else
      %a{:href => "/teams/new"}
        .col-xs-4.text-center.create-team-box
  - else
    .col-xs-12.text-center.logo-box
      .landing-box2.text-center.font-override

    .col-xs-12#landing-description-box
      %h3.text-center
        WELCOME TO MATCH FIXING
      %ul.font-override
        %li.col-xs-3
          .image-mf-logo
            = image_tag('homepage-profile.png')
          %h5 Create a profile
        %li.col-xs-3
          .image-mf-logo
            = image_tag('homepage_team.png')
          %h5 Create or join your team
        %li.col-xs-3
          .image-box
            = image_tag('screenshot_fixtures_results.png')
          %h5 See all your upcoming fixtures and previous results
        %li.col-xs-3
          .star-box
            - 3.times do
              = image_tag('gold-star.png')
          %h5 Rate and comment on your previous opponents

    .col-xs-12#landing-filler-image

