%h1 Listing stats

%table
  %thead
    %tr
      %th Appearances
      %th Goals
      %th Man of the match
      %th
      %th
      %th

  %tbody
    - @stats.each do |stat|
      %tr
        %td= stat.appearances
        %td= stat.goals
        %td= stat.man_of_the_match
        %td= link_to 'Show', stat
        %td= link_to 'Edit', edit_stat_path(stat)
        %td= link_to 'Destroy', stat, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Stat', new_stat_path
