!!!
%html{style:'height: 100%;'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MatchFixing
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==", crossorigin: "anonymous"}
    %link{href: "https://fonts.googleapis.com/css?family=Orbitron", rel: "stylesheet", type: "text/css"}
    %link{href: "https://fonts.googleapis.com/css?family=Lato", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon-logo.png'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body{style:'height: 100%;'}
    - if current_player
      = render partial: 'layouts/navbar/logged_in'
    - else
      = render partial: 'layouts/navbar/not_logged_in'
    = render partial: 'layouts/my_custom_flash', :flash => flash



    / Modal
    #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content.font-override
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true", :style =>'color:white;'} x
            %h4#myModalLabel.modal-title.text-center LOG IN
          .modal-body
            = render 'devise/sessions/new'

    .page-wrap
      =yield

    / %footer#footer.site-footer.text-center.font-override
    /   %h4 MatchFixing footer
