!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MatchFixing
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if player_signed_in?
      Logged in as
      %strong= link_to current_player.name, current_player
      - if current_player.team != nil
        Member of
        %strong= link_to current_player.team.name, current_player.team
      = image_tag current_player.image, class: "small-avatar"
      = link_to 'Edit account', edit_player_registration_path, :class => 'navbar-link'
      = link_to 'Edit Profile', edit_player_path(current_player), :class => 'navbar-link'
      = link_to "Logout", destroy_player_session_path, method: :delete, :class => 'navbar-link'
    - else
      = link_to "Sign up with facebook", player_omniauth_authorize_path(:facebook)
      = link_to "Sign up", new_player_registration_path, :class => 'navbar-link'
      = link_to "Login", new_player_session_path, :class => 'navbar-link'
    %p.notice= notice
    %p.alert= alert

    = yield
