!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MatchFixing
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==", crossorigin: "anonymous"}
    %link{href: "https://fonts.googleapis.com/css?family=Orbitron", rel: "stylesheet", type: "text/css"}
    %link{href: "https://fonts.googleapis.com/css?family=Lato", rel: "stylesheet", type: "text/css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body

    - if current_player
      %nav.navbar.navbar-default.font-override
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a{:href=> "/"}
              %img.pull-left.img-responsive{:src => "/assets/logo-xs.jpg"}
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav{:style =>"width:70%;"}
              %li{:style =>"width:25%;border-left:white;padding-left:5%;"}
                = link_to "My Profile", current_player
              - if current_player.team.nil? && user_is_captain?
                %li{:style =>"width:25%;border-left:white;padding-left:5%;"}
                  = link_to "Create Team", new_team_path
              - elsif current_player.team.nil?
                %li{:style =>"width:25%;border-left:white;padding-left:5%;"}
                  = link_to "Join your team", edit_player_path
              - else
                %li{:style =>"width:25%;border-left:white;padding-left:5%;"}
                  = link_to "My Team", current_player.team
              %li{:style =>"width:25%;border-left:white;padding-left:5%;"}
                %a{:href => "/leagues/1"}
                  League Table
                  %span.sr-only (current)
            %ul.nav.navbar-nav.navbar-right{:style =>"width:25%;"}
              - if player_signed_in?
                %li{:style =>"padding-left:5%;"}
                  = button_to 'Edit account', edit_player_registration_path(current_player), :method => :get, :class => 'navbar-link', :class => 'btn btn-xs navbar-btn btn-white nohoverwhite'
                %li{:style =>"padding-left:5%;"}
                  = button_to "Log out", destroy_player_session_path, :method => :delete, :class => 'btn btn-xs navbar-btn btn-white nohoverwhite' 


          / /.navbar-collapse
        / /.container-fluid
      = render :partial => 'layouts/my_custom_flash', :flash => flash

    - else
      - if current_page?('/players/password/new')
        .row.welcome-header-alt
          .col-xs-12
            %h1.welcome-header.text-center.font-override{:style =>"padding-left: 15%;"}
              Match Fixing
              = link_to "Sign up", new_registration_path(resource_name), {class: "btn btn-xs btn-white nohoverwhite pull-right", :style =>"margin-right: 5%;"}
              %button.btn.btn-xs.btn-white.nohoverwhite.pull-right{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", :style =>"margin-right: 5%;"}
                Login
      -else
        .row
          .col-xs-12
            %h1.welcome-header.text-center.font-override{:style =>"padding-left: 15%;"}
              Match Fixing
              - if !current_page?('/players/sign_up')
                = link_to "Sign up", new_registration_path(resource_name), {class: "btn btn-xs btn-black nohoverblack pull-right", :style =>"margin-right: 5%;"}
                %button.btn.btn-xs.btn-black.nohoverblack.pull-right{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", :style =>"margin-right: 5%;"}
                  Login
              -else
                = link_to "Sign up", new_registration_path(resource_name), {class: "btn btn-xs btn-white nohoverwhite pull-right", :style =>"margin-right: 5%;"}
                %button.btn.btn-xs.btn-white.nohoverwhite.pull-right{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", :style =>"margin-right: 5%;"}
                  Login
        = render :partial => 'layouts/my_custom_flash', :flash => flash



      / Modal
      #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content.font-override
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true", :style =>'color:white;'} x
              %h4#myModalLabel.modal-title.text-center Log In
            .modal-body
              = render 'devise/sessions/new'
              .row
                .col-xs-12.text-center
                  %br/
                  = link_to "Forgot your password?", new_password_path(resource_name), {class:"link-override-alt"}
                  %h4
                    Or
                .col-xs-12.text-center
                  = link_to "Sign up with facebook", player_omniauth_authorize_path(:facebook), {class: "btn btn-primary"}

    

    .page-wrap
      =yield

    / %footer#footer.site-footer.text-center.font-override
    /   %h4 MatchFixing footer
